extends header.pug

block content
  .row
    .col-12
    each movie in movies
      .card(style='width: 18rem; margin: 20px;')
        .card-body
          h5.card-title #{movie.title}
          h6.card-subtitle.mb-2.text-muted #{movie.year}
          h6.card-subtitle.mb-3.text-muted #{movie.genre}
          h6.card-subtitle.mb-4.text-muted #{movie.rating}
          p.card-text
            - if(movie.description){
              | #{movie.description}
            - }else{
              | No description provided.
            - }
          a.card-link(href='http://localhost:8080/movie/' + movie._id + '/reviews') View Reviews
          a.card-link(href='http://localhost:8080/movie/' + movie._id + '/review') Post Review

